/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  max-width: 33em;

}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  color: #232323;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; color: #303030;}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

h1.title a, h1 {
  margin: 0;
  font-family: lato;
  color: #2f5975 ;
  text-transform: uppercase;
}

h1.title a:

.home {
  margin: 0 auto;
  width: inherit;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  /*text-align: center;*/
}

ul.posts li {
  line-height: 1.75em;
  font-size: 1.333em;
  clear: both;
}

ul.posts:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.posts a {
  float: left;
}

ul.posts span {
  color: #aaa;
  /*font-family: Monaco, "Courier New", monospace;*/
  font-size: 80%;
  float: right;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  /*text-align: justify;*/
  /*width: 42em;*/
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
  text-align: left;
}

.site .header h1.title a {
  /*color: #a00;*/
  color: #4d94b3; 
}

.site .header h1.title a:hover {
  color: #3a7088;
}

.site .header h1.title a:active {
  color: #2f5c6f;
  outline:none;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  margin-top: 0;
  text-indent: 0;

}
.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post img {
  width: 625px;
  height: auto;
}

.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
  width: 0;
}

.post-title {
  font-family: Merriweather;
  font-weight: 400;
}


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
